.navbar-brand img {
    width: 160px;
}

.navbar-default{
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.card-box-ico {
    padding: 0;
    border: 0;
}

.card-box-ico span {
    font-size: 2rem;
    color: #000000;
}

.title-c {
    font-size: 1.8rem;
    margin-left: 10px;
}